azure-functions
azure-keyvault-secrets
azure-identity
azure-search-documents
PyYAML
matplotlib
ipywidgets
ipykernel
setuptools
unstructured[local-inference]
unstructured[all-docs]
tenacity
langchain
langchain-community
langchain-experimental
langchain-chroma
langchain-ollama
langchain-azure-ai[opentelemetry]
langgraph
autogen
autogen_core
semantic_kernel
langchain_mcp_adapters
mcp