azure-functions
azure-keyvault-secrets
azure-identity
azure-search-documents
azure-storage-blob
PyYAML
matplotlib
ipywidgets
ipykernel
setuptools
# unstructured[local-inference] # for complex document parsing
unstructured[pdf]
tenacity
langgraph
langchain
langchain-classic
langchain-chroma
langchain-ollama
langchain-azure-ai[opentelemetry]
langchain_mcp_adapters
mcp